/* Style to export Markdown documents */
pre {
	padding-right: 3px;
	white-space: pre-wrap;
}

.page {
	page-break-after: always;
}

td,
th {
	border: rgb(185, 185, 185) 1px solid;
	padding: 10px !important;
}

h1,
h2,
h3,
h4 {
	padding-top: 3px !important;
	margin-top: 3px !important;
	margin-bottom: 5px !important;
	padding-bottom: 5px !important;
}

p {
	margin-top: 3px !important;
	margin-bottom: 15px !important;
}

blockquote {
	background-color: rgba(22, 169, 238, 0.10);
}

